.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .not-found-heading {
    margin: 24px 0;
    font-size: 2em;
    color: #626262;
    text-align: center;
    font-family: cursive;
  }
  .not-found-btn {
    font-size: 1.5em;
    color: #666;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #222222;
    border-radius: 40px;
    padding: 10px;
    transition: all .2s ease;
  }
  .not-found-btn:hover {
    border: 3px solid #222222;
  }
  span.arrow {
    display: flex;
    align-items: center;
    justify-content: baseline ;
  }
  span.not-found-txt {
    padding: 0 8px;
    color: #454444;
    font-family: cursive;
  }
