.p-containerForm-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000; 
    padding-bottom: 8px;
  }
  .p-containerForm-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #8692A6;
    padding-bottom: 18px;
  }